*{
    box-sizing: border-box;
}
.jumbotron{
     background-image: url(img1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    ;
}
.card-pelicula{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 250px;
    margin: 10px 15px 25px 0;
    border: 2px solid #3C5C92;
    
}
h1{
    color: #3C5C92;
    font-weight: bold;
    text-align: center;
    font-size:100px;
}
h4{
    background-color: #3C5C92;
    padding: 6px;
    border-radius: 4px;
    color:#fff;
    
}
a{
    color:#fff;
    margin-bottom: 5px;
}
.btn{
    background-color: #3C5C92;
}
address{
    color:#fff;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: #01AAAD;
}